body{
    background-color: rgb(54, 54, 54);
}
button{
    padding: 20px;
    margin: 0px 10px;
    cursor: pointer;
    background-color: teal;
    color: white;
    border: 2px solid white;
    font-size: large;
}
button:hover{
    background-color: white;
    color: teal;
    border: 2px solid teal;
}
